{%extends "homepage/base.html"%}
{%load crispy_forms_tags%}
{%block content%}

        <div class="content">

        <h1>Ask a Question</h1>
        <p>Type your question below. You can also use Markdown to help format your question.</p>

                <form  method="post" enctype="multipart/form-data" style="background-color:#ffffff;">
        {% csrf_token %}
        <div class="form-group">{{ u_form.question_title|as_crispy_field }}</div>
        <div class="form-group">{{ u_form.question_description|as_crispy_field }}</div>
        <div class="form-group"><button class="btn btn-primary" type="submit" style="margin-bottom:20px;">Save</button></div>

</form>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        </div>
{%for question in questions%}
<section>
    <h1>{{question.question_title}}</h1>
    <p>{{question.question_description}}</p>
</section>
{%endfor%}

{%endblock content%}