<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact-Us Page </title>
    <link  href="http://fonts.googleapis.com/css?family=Quicksand:300,400,500,700"
    rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="nav">
          <div class="left">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Resource</a></li>
              <li><a href="#">News</a></li>
            </ul>
          </div>
          <div class="right">
            <ul>
              <li><a href="#">Log In</a></li>
              <li><a href="#">Sign Up</a></li>

            </ul>
          </div>
      </div>
      <div class="header">
        <h1>Contact Us</h1>
        <p>COME,COLLAB,LEARN</p>
        <p>Please suggest us how we can improve.Kindly send all queries , suggestion and feedback and make us better. </p>
      </div>


      <div class="form">
        <form>
          <input type="text" placeholder="Name"/>
          <input type="text" placeholder="E-Mail"/>
          <input type="text" id="msg" placeholder="Message"/>
        </form>

        <button type="button" >Let's Talk</button>
      </div>



    </div>
  </body>
</html>
