{% extends 'homepage/base.html' %}
{% block content %}

    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
    <div class="container">
        <h1>Resources</h1>
        <hr>
        <div class="row">
            <div class="col-md-2 mb-3">
                <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">Getting Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#python" role="tab"
                           aria-controls="python" aria-selected="false">Python</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#java" role="tab"
                           aria-controls="java" aria-selected="false">Java</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-10">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h2>Home</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed
                            accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem
                            blanditiis voluptates vel ipsam? Facilis, earum!</p>
                    </div>
                    <div class="tab-pane fade" id="python" role="tabpanel" aria-labelledby="profile-tab">
                        <h2>Python</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed
                            accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem
                            blanditiis voluptates vel ipsam? Facilis, earum!</p>
                        <h2>Projects</h2>
                        <div class="card-group">

                            <div class="card">
                                <!-- set a width on the image otherwise it will expand to full width       -->
                                <img class="card-img-top img-fluid"
                                     src="https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-top"
                                     alt="Card image cap" width="400">
                                <div class="card-body">
                                    <h4 class="card-title">project name</h4>
                                    <p class="card-text">project description</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <!-- /.card -->

                            <div class="card">
                                <!-- set a width on the image otherwise it will expand to full width       -->
                                <img class="card-img-top img-fluid"
                                     src="https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-top"
                                     alt="Card image cap" width="400">
                                <div class="card-body">
                                    <h4 class="card-title">project name</h4>
                                    <p class="card-text">project description</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <!-- /.card -->

                            <div class="card">
                                <!-- set a width on the image otherwise it will expand to full width       -->
                                <img class="card-img-top img-fluid"
                                     src="https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-top"
                                     alt="Card image cap" width="400">
                                <div class="card-body">
                                    <h4 class="card-title">project name</h4>
                                    <p class="card-text">project description</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <!-- /.card -->

                            <div class="card">
                                <!-- set a width on the image otherwise it will expand to full width       -->
                                <img class="card-img-top img-fluid"
                                     src="https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-top"
                                     alt="Card image cap" width="400">
                                <div class="card-body">
                                    <h4 class="card-title">.card-title</h4>
                                    <p class="card-text">.card-text</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>


                            <!-- /.card -->


                        </div>
                        <!-- /.card-group -->
                        <div class="row">
                            <div class="col-md-4">

                                <div class="card card-01">
                                    <img class="card-img-top"
                                         src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/122693272/original/b72c2f1f1d13f934912ed4ae10d2337578f5f8f7/develop-python-code-for-data-science-projects.jpg"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <span class="badge-box"><i class="fa fa-check"></i></span>
                                        <h4 class="card-title">Project title</h4>
                                        <p class="card-text">Project description</p>
                                        <a href="#" class="btn btn-default text-uppercase">Explore</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="java" role="tabpanel" aria-labelledby="contact-tab">
                        <h2>Java</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed
                            accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem
                            blanditiis voluptates vel ipsam? Facilis, earum!</p>

                    </div>
                </div>
            </div>
            <!-- /.col-md-8 -->
        </div>


    </div>
    <!-- /.container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
    </html>

{% endblock %}