<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:400,700"
            rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="google" content="notranslate"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nerdherd</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fixed.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target="#navbarResponsive">
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 17px;
    }

    .shadow {
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    }

    .btn-danger {
        color: #fff;
        background-color: #f00000;
        border-color: #dc281e;
    }

    .masthead {
        background: #3398E1;
        height: auto;
        padding-bottom: 15px;
        box-shadow: 0 16px 48px #E3E7EB;
        padding-top: 10px;
    }
</style>


<!--- Navigations -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/nerdherd5.png' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#resources">Resources</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">Projects</a>
                <div class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="#">On Going</a>
                        <a class="dropdown-item" href="#">Completed</a>
                        <a class="dropdown-item" href="#">New</a>
                    {% else %}

                        <a class="dropdown-item" href="#">New</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mtt' %}">About Us</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}"><i class="fa fa-address-book" aria-hidden="true"></i> Contact</a>
            </li>




            {% if user.is_authenticated %}

                <li class="nav-item ">
                    <a href="{% url 'home1' %}" class="nav-link"><i class="fas fa-newspaper" aria-hidden="true"></i> News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'db' %}"><i class="fa fa-user" aria-hidden="true"></i> {{ user.username }}</a>
                </li>
                <li class="nav-item ">
                    <a href="{% url 'logout' %}" class="nav-link "><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt" aria-hidden="true"></i>  Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Signup</a>
                </li>

            {% endif %}
        </ul>
    </div>

</nav>

{% block content %}{% endblock %}

<!-- Start Contact Section -->


<footer>

    <div id="contact">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <img src="{% static 'img/nerdherd5.png' %}">
                <p>Nerd herd is an interactive platform which is created to provide a common ground to all those who wish to learn new things in the field of computer science . It’s a dynamic student programming community that aims to help students build there programming skills via teamwork. Also it helps the participants to learn to make interactive projects and explore the new upcoming technology in a fun way. Here the participants can share their ideas, meet some people with common interests and learn something new everyday ...
                As it is difficult for students to keep up with the changes in the technology we provide  them a platform where not only they get to know about the technological advancements but also work on these technologies simultaneously . We believe in a simple principle of ABCC i.e Any Body Can Code
                    This community basically is created to reduce the gap between students and technology so that the students learn about the technology in a fun way

                The most important thing a person learns here is team work when a person works in a team on live projects he /she gets an idea about how the industry works and that trains him/her for the industry.


                At Nerd Herd we work everyday so that students can come together ,work together , learn new things and fall in love with coding and so is our motto.

COME,COLLAB,LEARN</p>
                <strong>Contact Info</strong>
                <p>nerdherdindore@gmail.com</p>

                <a href="" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
                <div><p><a href="{% url 'terms' %}">terms & conditions</a> &nbsp;&nbsp; <a href="{% url 'privacy' %}">privacy policy</a></p></div>
            </div>

            <hr class="socket">
            &copy; Nerdherd.
        </div><!-- End Of Row -->
    </div>
</footer>

<!-- End Contact Section -->

<!--- Script Source Files -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"></script>
<link
        href="https://fonts.googleapis.com/css?family=Roboto:400,700"
        rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'css/fixed.css' %}">

<!--- End of Script Source Files -->

</body>
</html>


