<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:400,700"
            rel="stylesheet">
    <meta name="google" content="notranslate"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nerdherd</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fixed.css' %}">


</head>

<body data-spy="scroll" data-target="#navbarResponsive">
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 17px;
    }

    .shadow {
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    }

    .btn-danger {
        color: #fff;
        background-color: #f00000;
        border-color: #dc281e;
    }

    .masthead {
        background: #3398E1;
        height: auto;
        padding-bottom: 15px;
        box-shadow: 0 16px 48px #E3E7EB;
        padding-top: 10px;
    }
</style>


<!--- Navigations -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/nerdherd5.png' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#resources">Resources</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#projects">Projects</a>
                <div class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="#">On Going</a>
                        <a class="dropdown-item" href="#">Completed</a>
                        <a class="dropdown-item" href="#">New</a>
                    {% else %}

                        <a class="dropdown-item" href="#">New</a>
                    {% endif %}
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mtt' %}">Contact</a>
            </li>


            {% if user.is_authenticated %}

                <li class="nav-item ">
                    <a href="{% url 'home1' %}" class="nav-link">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'db' %}">{{ user.username }}</a>
                </li>
                <li class="nav-item ">
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                </li>

            {% endif %}
        </ul>
    </div>

</nav>

{% block content %}{% endblock %}

<!-- Start Contact Section -->
<div id="contact" class="offset">

    <footer>
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <img src="{% static 'img/nerdherd5.png' %}">
                <p>Nerdherd is a growing community started by the students of IIPS-DAVV, Indore, where we focus and
                    motivates young developers to building real-time projects.</p>
                <strong>Contact Info</strong>
                <p>nerdherdindore@gmail.com</p>

                <a href="" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>

            <hr class="socket">
            &copy; Nerdherd.
        </div><!-- End Of Row -->
    </footer>

</div>
<!-- End Contact Section -->


<div>

    <!--- Script Source Files -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"></script>
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:400,700"
            rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fixed.css' %}">

    <!--- End of Script Source Files -->


</div>


</body>
</html>


