{% extends "homepage/base.html" %}
{% load static %}
{% block content %}
    <style>

        body {
            background-repeat: no-repeat;
            background-size: cover;

        }
    </style>
    <link rel="stylesheet" href="{% static 'project/Style.css' %}">

    <div class="container1">
        <br><br><br><br>
        <div class="wrapper">
            <div class="create-new-project">
                <div class="input-fields" style="width: -webkit-fill-available">

                    <input type="text" class="input" placeholder="Project_name" ">
                    <input type="text" class="input" placeholder="platform">
                    <input type="text" class="input" placeholder="prerequisites">
                    <textarea placeholder="description" class="input"></textarea>

                    <!-- <div class="desc">

                     </div>-->
                    <div class="btn">
                        Create project
                    </div>

                </div>


            </div>

        </div>
    </div>
{% endblock content %}
