{% extends "homepage/base.html" %}
{% load static %}
{% block content %}
    <style>

        body {
            background-repeat: no-repeat;
            background-size: cover;

        }
    </style>
 <link rel="stylesheet" href="{%static 'project/Style.css'%}">

  <div class="container1">
      <br><br><br><br>
    <div class="wrapper">
      <div class="create-new-project">
        <div class="input-fields">
            <div class="row">
                <input type="text" class="input" placeholder="Project_name">
                <input type="text" class="input" placeholder="platform">
                <input type="text" class="input" placeholder="prerequisites">

            </div>
        <div class="desc">
          <textarea placeholder="description"></textarea>
        </div>
        </div>
          <div class="row1 ">
              <div class="btn">
                  Create project
              </div>
          </div>

          </div>

    </div>
  </div>
{%endblock content%}
