<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="Style.css">

  </head>
  <body>
    <div class="wrapper">
      <div class="create-new-project">
        <div class="input-fields">
          <input type="text" class="input" placeholder="Project_name">
          <input type="text" class="input" placeholder="platform">
          <input type="text" class="input" placeholder="prerequisites">

        </div>
        <div class="desc">
          <textarea placeholder="description"></textarea>
        </div>
          <div class="btn">
            Create project
          </div>

          </div>

    </div>

  </body>
</html>
