{% extends 'homepage/base.html' %}
{% block content %}
    <div class="container">
        <header class="card-header">
            <h4 class="card-title mt-8"></h4>
        </header>
        <div class="row justify-content-center">

            <div class="col-md-8">
                <article class="card-body">
                    <div class="alert alert-info">
                        Your password has been set!
                    </div>
                    <a href="{% url 'login' %}">Sign In Here</a>
                </article>

            </div>
        </div>
    </div>
{% endblock %}