{% extends 'homepage/base.html' %}
{% block content %}
    <br>
    <br>
    <div>
        <main role="main" class="container">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="https://via.placeholder.com/200?text=User" alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-md-10">
                            <h2>{{ pro.pro_name }}</h2>
                            <p class="mb-1"><i class="fas fa-envelope"></i> Creator </p>
                            <p class="mb-1"><i class="fas fa-envelope"></i> {{ pro.created_on }}</p>
                            <p class="mb-1"><b>Prerequisite</b></p>
                            <p class="mt-3">{{ pro.description }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-5">
                <div class="card-header d-flex justify-content-between align-items-start">
                    <h3 class="card-title">Discription</h3>
                    <a class="btn btn-light btn-sm float-right" href="#" role="button">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>

                <div class="card-body">
                    <div class="resume-item mb-5">
                        <div class="resume-content">
                            <h4 class="mb-0">Web Developer</h4>
                            <p class="h5 text-muted mb-3">CPA Global <small>December 2011 - March 2013</small></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis deleniti soluta atque,
                                inventore obcaecati nemo nostrum temporibus accusantium expedita quaerat magni tempora,
                                quas
                                quia doloremque nulla molestias voluptatem aliquid ducimus?</p>
                        </div>
                    </div>

                    <div class="resume-item mb-5">
                        <div class="resume-content">
                            <h4 class="mb-0">.Net Developer</h4>
                            <p class="h5 text-muted mb-3">Growth Acceleration Partners <small>January 2010 - December
                                2011</small></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis deleniti soluta atque,
                                inventore obcaecati nemo nostrum temporibus accusantium expedita quaerat magni tempora,
                                quas
                                quia doloremque nulla molestias voluptatem aliquid ducimus?</p>
                        </div>
                    </div>

                    <div class="resume-item mb-5">
                        <div class="resume-content">
                            <h4 class="mb-0">Angular Developer</h4>
                            <p class="h5 text-muted mb-3">CPA Global <small>June 2009 - January 2010</small></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis deleniti soluta atque,
                                inventore obcaecati nemo nostrum temporibus accusantium expedita quaerat magni tempora,
                                quas
                                quia doloremque nulla molestias voluptatem aliquid ducimus?</p>
                        </div>
                    </div>
                </div>
            </div>


        </main>

    </div>
{% endblock %}