{% for project in projects %}

    <div class="card">
        <div class="card-header">
            {{ project.level }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ project.name }}</h5>
            {% for tags in protags %}
                {% if tags.project.id == project.id %}
                    <span class="badge badge-secondary"> #{{ tags.tag }}</span>
                {% endif %}
            {% endfor %}
            <p class="card-text">{{ project.data }}</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%;"
                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                </div>
            </div>
            <br>
        {% if userprojects %}
            {%if project not in userprojects  %}
                <a href="{% url 'startproject'  pk=project.pk %}"class="btn btn-primary">Start</a>
            {% else %}
            <a href="#"class="btn btn-outline-primary">Stop</a>
            {% endif %}
        {% else %}

            <a href="{% url 'startproject'  pk=project.pk %}"class="btn btn-primary">Start</a>
        {% endif %}

        </div>
    </div>
{% endfor %}




