{%extends 'homepage/base.html'%}
{%load static%}
{%block content%}


<title>New project</title>

<style>
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
</style>
 <link rel="stylesheet" href="{%static 'project1/Style.css'%}">
<div class="container1">

    <br><br><br><br>
    <div style="display:flex;">
        <h1 style="text-align:center;width:80%;">Nerd Herd Projects</h1>&nbsp;&nbsp;<a href="{%url 'custom'%}"><button class="btn btn-success" >Start your own project</button></a>
</div>
    {% for p in pro %}
        <div class="card" style="margin-left:20%;margin-right:20%;">
            <div class="card-header" style="display:flex;background:linear-gradient(57deg,red,orange);">
                <h1 style="width:85%;color:white;">{{ p.pro_name }}</h1>
                <div class="menu" >
                <ul>

                    <li style="list-style:none;"><a href="#" style="align:right;" class="btn btn-primary">+ Explore</a></li>
                </ul>
            </div>


                 </div>


            <div class="card-body">


                <p class="card-text"><b>Pre-Requisite</b> {{ p.prerequisite }}</p>
                <p class="card-text"><b>Description</b> {{ p.description }}</p>

                <br>
                <div class="card-header" style="text-align:right;">
                    <h8> - {{ p.created_on }}</h8>
                </div>

            </div>
        </div>
    {% endfor %}
    <br><br>
</div>

{%endblock content%}