{%extends 'homepage/base.html'%}
{%block content%}
    <br>
    <br>
<title>New project</title>
<div class="container1">

    {% for p in pro %}
        <div class="card">
            <div class="card-header">
                <h1>{{ p.pro_name }}</h1>
             </div>


            <div class="card-body">
                <h5 class="card-title"> {{ p.pro_name }}</h5>

                <p class="card-text">{{ p.prerequisite }}</p>
                <p class="card-text">{{ p.description }}</p>

                <br>
                <div class="card-header" style="text-align:right;">
                    <h8> - {{ p.created_on }}</h8>
                </div>

            </div>
        </div>
    {% endfor %}
</div>
{%endblock content%}