{%extends 'homepage/base.html'%}
{%block content%}

<title>New project</title>
    <br><br>
    <style>
        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        /* Add some padding inside the card container */
        .container {
            padding: 2px 16px;
        }
    </style>
<div class="container1">

    {% for p in pro %}
        <div class="card">
            <div class="card-header" style="display:flex;">
                <h1 style="width:85%;">{{ p.pro_name }}</h1>
                <div class="menu">
                    <ul>
                        <li style="list-style:none;"><a href="{% url 'expr' pk=p.pk %}" style="align:right;"
                                                        class="btn btn-primary">+ Explore</a></li>
                    </ul>
                </div>


            </div>


            <div class="card-body">


                <p class="card-text"><b>Pre-Requisite</b> {{ p.prerequisite }}</p>
                <p class="card-text"><b>Description</b> {{ p.description }}</p>

                <br>
                <div class="card-header" style="text-align:right;">
                    <h8> - {{ p.created_on }}</h8>
                </div>

            </div>
        </div>
    {% endfor %}
</div>
{%endblock content%}